absl-py==0.5.0
astor==0.7.1
certifi==2018.8.24
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Cors==3.0.7
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
MarkupSafe==1.1.0
nlp-utils==0.1
nltk==3.3
numpy==1.15.2
protobuf==3.6.1
requests==2.19.1
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
tensorboard==1.11.0
tensorflow==1.11.0
tensorflow-serving-api==1.11.0
termcolor==1.1.0
git+https://github.com/guillaumegenthial/tf_metrics.git
tokenizer_tools
urllib3==1.23
Werkzeug==0.14.1
