absl-py==0.7.1
appdirs==1.4.3
astor==0.8.0
astroid==2.3.1
atomicwrites==1.3.0
attrs==19.1.0
black==19.10b0
bleach==3.1.0
bumpversion==0.5.3
bz2file==0.98
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
decorator==4.4.0
deepmerge==0.0.5
-e git+git@github.com:howl-anderson/deliverable_model.git@d1f34c4a719bd392033f3f9c9ccb2dbbcf6ec264#egg=deliverable_model
dill==0.3.1.1
docutils==0.15.2
dopamine-rl==2.0.5
Flask==1.1.1
Flask-Cors==3.0.8
future==0.17.1
gast==0.2.2
gevent==1.4.0
gin-config==0.2.0
google-api-python-client==1.7.10
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-pasta==0.1.7
googleapis-common-protos==1.6.0
greenlet==0.4.15
grpcio==1.22.0
gunicorn==19.9.0
gym==0.14.0
h5py==2.9.0
httplib2==0.13.1
idna==2.8
importlib-metadata==0.22
-e git+git@github.com:howl-anderson/ioflow.git@a77938ebcd6c12391e40fb3de6c166f66a80c6da#egg=ioflow
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.13.2
jsonlines==1.2.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kfac==0.1.4
lazy-object-proxy==1.4.2
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
mesh-tensorflow==0.0.5
micro-toolkit==0.2.1
more-itertools==7.2.0
mpmath==1.1.0
numpy==1.17.0
oauth2client==4.1.3
opencv-python==4.1.0.25
opt-einsum==3.1.0
packaging==19.1
pandas==0.25.0
pathspec==0.6.0
pconf==1.6.1
Pillow==6.1.0
pipdeptree==0.13.2
pkginfo==1.5.0.1
pluggy==0.13.0
promise==2.2.1
protobuf==3.9.1
psutil==5.6.3
py==1.8.0
pyasn1==0.4.6
pyasn1-modules==0.2.6
pyglet==1.3.2
Pygments==2.4.2
pylint==2.4.2
pyparsing==2.4.2
pypng==0.0.20
pytest==5.1.2
pytest-datadir==1.3.0
pytest-helpers-namespace==2019.1.8
pytest-mock==1.11.2
pytest-runner==5.2
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
readme-renderer==24.0
regex==2019.12.9
requests==2.22.0
requests-mock==1.7.0
requests-toolbelt==0.9.1
rfc3986==1.3.2
rsa==4.0
scikit-learn==0.21.3
scipy==1.3.0
-e git+git@github.com:howl-anderson/seq2annotation.git@faeec18f16b73a28dc323572f416341b2c1ac7ed#egg=seq2annotation
six==1.12.0
sympy==1.4
tensor2tensor==1.13.4
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-datasets==1.1.0
tensorflow-estimator==1.15.1
tensorflow-metadata==0.14.0
tensorflow-probability==0.7.0
tensorflow-serving-api==1.15.0
termcolor==1.1.0
-e git+git@github.com:howl-anderson/tf_crf_layer.git@bffbdcc34a155f343e35f7159ea44a63adc41077#egg=tf_crf_layer
-e git+git@github.com:howl-anderson/tokenizer_tools.git@88bdbb920a2f76a93d8441b635f6dbe20fe1f72b#egg=tokenizer_tools
toml==0.10.0
tqdm==4.32.2
twine==1.13.0
typed-ast==1.4.0
uritemplate==3.0.0
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.5
wrapt==1.11.2
yapf==0.29.0
zipp==0.6.0
